body{
    display: flex;
    justify-content: space-between;
    padding: 5vh;
    align-items: center;
    margin: 0;
    /* background-color: rgb(136, 141, 167); */
    background-color: rgb(28, 48, 65);
}
.container{
    background-color: rgb(255,255,255,0.8);

    margin-top:auto;
    margin-bottom:auto;
    /* position: fixed; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vh;
    height: 90vh;
    border: 3px solid black;
    margin: 0px;
}
.display{
    max-width: 40%;
    color: white;
}
.display h1{
    font-size: 9vh;
    text-align: center;
}
p.info{
    font-size: large;
    margin-bottom: 2px;
    margin-top: 2px;
}
p.pixelsize{
    margin-top: 30px;
    margin-bottom: 2px;
    font-size: large;
}
p.pixelsize2{
    margin-top: 2px;
    font-size: large;

}
.box{
    background-color: black;
    margin: 0px;
    opacity: 0;
}
.cursor{
    opacity: 1 !important;
    /* background-color: black; */
}
